.Navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 140px;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px 0;
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
