.MainToDoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 70px;
  .MainToDoItemButton {
    font-size: inherit;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fafafa;
    cursor: pointer;
    &:hover {
      background-color: #eaeaea;
    }
  }
}
